body {
  background-image: url("background.jpg");
  background-attachment: fixed;
  background-repeat:no-repeat;
  background-size: cover;
  background-position: bottom;
  color: white;
  font-family: SGB;
}

@font-face {
    font-family: "SGB";
    src: url(SentyGoldenBell.ttf);
}
