.mediaViewInfo {
	--web-view-name: Web 1920 – 1;
	--web-view-id: Web_1920__1;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-refresh-for-changes: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Web_1920__1;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
.Web_1920__1_Class {
	position: absolute;
	width: 2432px;
	height: 2132px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Web 1920 – 1;
	--web-view-id: Web_1920__1;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-refresh-for-changes: true;
	--web-enable-deep-linking: true;
}
.Group_148_Class {
	position: absolute;
	width: 2432.252px;
	height: 1042.394px;
	left: 0px;
	top: 233px;
	overflow: visible;
}
.Group_147_Class {
	position: absolute;
	width: 2432.252px;
	height: 1042.394px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Group_141_Class {
	position: absolute;
	width: 2432.252px;
	height: 1042.394px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Group_76_Class {
	position: absolute;
	width: 2432.252px;
	height: 1042.394px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Group_75_Class {
	position: absolute;
	width: 2432.252px;
	height: 1042.394px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Group_80_Class {
	position: absolute;
	width: 2432.252px;
	height: 265.524px;
	left: 0px;
	top: 774.747px;
	overflow: visible;
}
.Group_79_Class {
	position: absolute;
	width: 2432.252px;
	height: 265.524px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Group_84_Class {
	position: absolute;
	width: 353.697px;
	height: 428.818px;
	left: 0px;
	top: 613.576px;
	overflow: visible;
}
.Group_83_Class {
	position: absolute;
	width: 353.697px;
	height: 428.818px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Group_86_Class {
	position: absolute;
	width: 303.52px;
	height: 567.305px;
	left: 0px;
	top: 235.478px;
	overflow: visible;
}
.Group_85_Class {
	position: absolute;
	width: 303.52px;
	height: 567.305px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Group_90_Class {
	position: absolute;
	width: 302.458px;
	height: 425.39px;
	left: 2129.794px;
	top: 617.004px;
	overflow: visible;
}
.Group_89_Class {
	position: absolute;
	width: 302.458px;
	height: 425.39px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Group_94_Class {
	position: absolute;
	width: 302.458px;
	height: 567.304px;
	left: 2129.794px;
	top: 245.762px;
	overflow: visible;
}
.Group_93_Class {
	position: absolute;
	width: 302.458px;
	height: 567.304px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Group_98_Class {
	position: absolute;
	width: 154.153px;
	height: 304.855px;
	left: 1989.913px;
	top: 733.539px;
	overflow: visible;
}
.Group_97_Class {
	position: absolute;
	width: 154.153px;
	height: 304.855px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Group_102_Class {
	position: absolute;
	width: 303.52px;
	height: 567.305px;
	left: 1919.407px;
	top: 371.726px;
	overflow: visible;
}
.Group_101_Class {
	position: absolute;
	width: 303.52px;
	height: 567.305px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Group_106_Class {
	position: absolute;
	width: 154.155px;
	height: 304.855px;
	left: 281.386px;
	top: 733.539px;
	overflow: visible;
}
.Group_105_Class {
	position: absolute;
	width: 154.155px;
	height: 304.855px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Group_110_Class {
	position: absolute;
	width: 303.52px;
	height: 567.305px;
	left: 210.881px;
	top: 371.726px;
	overflow: visible;
}
.Group_109_Class {
	position: absolute;
	width: 303.52px;
	height: 567.305px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Group_117_Class {
	position: absolute;
	width: 2432.252px;
	height: 1042.394px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Group_116_Class {
	position: absolute;
	width: 2432.252px;
	height: 1042.394px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Group_121_Class {
	position: absolute;
	width: 839.406px;
	height: 244.591px;
	left: 192.824px;
	top: 794.182px;
	overflow: visible;
}
.Group_120_Class {
	position: absolute;
	width: 839.406px;
	height: 244.591px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Group_125_Class {
	position: absolute;
	width: 839.406px;
	height: 244.591px;
	left: 1453.502px;
	top: 794.066px;
	overflow: visible;
}
.Group_124_Class {
	position: absolute;
	width: 839.406px;
	height: 244.591px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Group_134_Class {
	position: absolute;
	width: 2432.252px;
	height: 1042.394px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Group_133_Class {
	position: absolute;
	width: 2432.252px;
	height: 1042.394px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Group_138_Class {
	position: absolute;
	width: 172.826px;
	height: 194.456px;
	left: 2259.426px;
	top: 0px;
	overflow: visible;
}
.Group_137_Class {
	position: absolute;
	width: 172.826px;
	height: 194.456px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Group_140_Class {
	position: absolute;
	width: 2432.252px;
	height: 1042.394px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Group_139_Class {
	position: absolute;
	width: 2432.252px;
	height: 1042.394px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Group_142_Class {
	position: absolute;
	width: 786.198px;
	height: 140.631px;
	left: 271.084px;
	top: 92.59px;
	overflow: visible;
}
.Path_47_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(248,176,9,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_47 {
	overflow: visible;
	position: absolute;
	width: 67.254px;
	height: 133.452px;
	left: 0px;
	top: 4.632px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_48_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(248,176,9,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_48 {
	overflow: visible;
	position: absolute;
	width: 74.434px;
	height: 122.264px;
	left: 114.805px;
	top: 10.359px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_49_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(248,176,9,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_49 {
	overflow: visible;
	position: absolute;
	width: 73.645px;
	height: 105.746px;
	left: 233.555px;
	top: 18.527px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_50_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(248,176,9,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_50 {
	overflow: visible;
	position: absolute;
	width: 101.971px;
	height: 126.302px;
	left: 337.709px;
	top: 8.169px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_51_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(248,176,9,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_51 {
	overflow: visible;
	position: absolute;
	width: 84.648px;
	height: 142.631px;
	left: 464.744px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_52_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(248,176,9,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_52 {
	overflow: visible;
	position: absolute;
	width: 105.144px;
	height: 76.778px;
	left: 572.842px;
	top: 33.011px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_53_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(248,176,9,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_53 {
	overflow: visible;
	position: absolute;
	width: 88.795px;
	height: 136.904px;
	left: 699.403px;
	top: 2.864px;
	transform: matrix(1,0,0,1,0,0);
}
.Group_143_Class {
	position: absolute;
	width: 619.441px;
	height: 84.434px;
	left: 636.253px;
	top: 322.622px;
	overflow: visible;
}
.Path_54_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(248,176,9,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_54 {
	overflow: visible;
	position: absolute;
	width: 90.95px;
	height: 58.561px;
	left: 0px;
	top: 13.389px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_55_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(248,176,9,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_55 {
	overflow: visible;
	position: absolute;
	width: 81.865px;
	height: 75.335px;
	left: 100.107px;
	top: 5.05px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_56_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(248,176,9,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_56 {
	overflow: visible;
	position: absolute;
	width: 102.586px;
	height: 53.417px;
	left: 185.37px;
	top: 16.009px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_57_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(248,176,9,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_57 {
	overflow: visible;
	position: absolute;
	width: 61.145px;
	height: 46.886px;
	left: 295.089px;
	top: 19.202px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_58_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(248,176,9,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_58 {
	overflow: visible;
	position: absolute;
	width: 76.699px;
	height: 75.01px;
	left: 376.371px;
	top: 5.194px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_59_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(248,176,9,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_59 {
	overflow: visible;
	position: absolute;
	width: 68.982px;
	height: 85.434px;
	left: 469.288px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_60_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(248,176,9,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_60 {
	overflow: visible;
	position: absolute;
	width: 55.215px;
	height: 75.81px;
	left: 565.234px;
	top: 4.813px;
	transform: matrix(1,0,0,1,0,0);
}
.Group_144_Class {
	position: absolute;
	width: 910.448px;
	height: 54.119px;
	left: 775.995px;
	top: 460.087px;
	overflow: visible;
}
.Path_61_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(248,168,4,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_61 {
	overflow: visible;
	position: absolute;
	width: 34.539px;
	height: 38.007px;
	left: 0px;
	top: 8.588px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_62_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(248,168,4,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_62 {
	overflow: visible;
	position: absolute;
	width: 33.71px;
	height: 53.822px;
	left: 49.308px;
	top: 0.648px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_63_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(248,168,4,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_63 {
	overflow: visible;
	position: absolute;
	width: 36.481px;
	height: 54.665px;
	left: 96.856px;
	top: 0.259px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_64_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(248,168,4,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_64 {
	overflow: visible;
	position: absolute;
	width: 38.101px;
	height: 37.425px;
	left: 144.958px;
	top: 8.879px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_65_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(248,168,4,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_65 {
	overflow: visible;
	position: absolute;
	width: 43.633px;
	height: 29.777px;
	left: 191.103px;
	top: 12.703px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_66_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(248,168,4,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_66 {
	overflow: visible;
	position: absolute;
	width: 43.624px;
	height: 49.833px;
	left: 240.02px;
	top: 2.69px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_67_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(248,168,4,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_67 {
	overflow: visible;
	position: absolute;
	width: 30.937px;
	height: 47.303px;
	left: 295.297px;
	top: 3.986px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_68_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(248,168,4,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_68 {
	overflow: visible;
	position: absolute;
	width: 30.611px;
	height: 40.925px;
	left: 344.377px;
	top: 7.129px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_69_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(248,168,4,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_69 {
	overflow: visible;
	position: absolute;
	width: 5.143px;
	height: 8.097px;
	left: 406.013px;
	top: 34.675px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_70_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(248,168,4,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_70 {
	overflow: visible;
	position: absolute;
	width: 49.967px;
	height: 39.823px;
	left: 432.56px;
	top: 7.648px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_71_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(248,168,4,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_71 {
	overflow: visible;
	position: absolute;
	width: 55.193px;
	height: 51.587px;
	left: 478.868px;
	top: 1.814px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_72_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(248,168,4,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_72 {
	overflow: visible;
	position: absolute;
	width: 24.779px;
	height: 44.619px;
	left: 542.95px;
	top: 5.25px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_73_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(248,168,4,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_73 {
	overflow: visible;
	position: absolute;
	width: 42.319px;
	height: 48.836px;
	left: 583.094px;
	top: 3.143px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_74_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(248,168,4,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_74 {
	overflow: visible;
	position: absolute;
	width: 35.165px;
	height: 55.119px;
	left: 635.599px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_75_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(248,168,4,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_75 {
	overflow: visible;
	position: absolute;
	width: 43.786px;
	height: 39.11px;
	left: 680.211px;
	top: 8.037px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_76_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(248,168,4,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_76 {
	overflow: visible;
	position: absolute;
	width: 43.633px;
	height: 29.777px;
	left: 729.194px;
	top: 12.703px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_77_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(248,168,4,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_77 {
	overflow: visible;
	position: absolute;
	width: 45.744px;
	height: 40.925px;
	left: 777.067px;
	top: 7.129px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_78_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(248,168,4,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_78 {
	overflow: visible;
	position: absolute;
	width: 42.254px;
	height: 40.088px;
	left: 827.713px;
	top: 6.773px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_79_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(248,168,4,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_79 {
	overflow: visible;
	position: absolute;
	width: 27.383px;
	height: 42.739px;
	left: 884.065px;
	top: 6.19px;
	transform: matrix(1,0,0,1,0,0);
}
.Group_145_Class {
	position: absolute;
	width: 915.617px;
	height: 39.835px;
	left: 791.507px;
	top: 981.711px;
	overflow: visible;
}
.Path_80_Class {
	fill: rgba(254,233,84,1);
	stroke: rgba(254,231,70,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_80 {
	overflow: visible;
	position: absolute;
	width: 10.346px;
	height: 28.263px;
	left: 0px;
	top: 6.308px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_81_Class {
	fill: rgba(254,233,84,1);
	stroke: rgba(254,231,70,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_81 {
	overflow: visible;
	position: absolute;
	width: 22.762px;
	height: 26.23px;
	left: 13.819px;
	top: 7.324px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_82_Class {
	fill: rgba(254,233,84,1);
	stroke: rgba(254,231,70,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_82 {
	overflow: visible;
	position: absolute;
	width: 13.137px;
	height: 34.263px;
	left: 38.651px;
	top: 3.324px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_83_Class {
	fill: rgba(254,233,84,1);
	stroke: rgba(254,231,70,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_83 {
	overflow: visible;
	position: absolute;
	width: 21.774px;
	height: 24.135px;
	left: 54.366px;
	top: 8.361px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_84_Class {
	fill: rgba(254,233,84,1);
	stroke: rgba(254,231,70,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_84 {
	overflow: visible;
	position: absolute;
	width: 4.004px;
	height: 17.363px;
	left: 83.271px;
	top: 11.747px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_85_Class {
	fill: rgba(254,233,84,1);
	stroke: rgba(254,231,70,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_85 {
	overflow: visible;
	position: absolute;
	width: 14.004px;
	height: 32.241px;
	left: 98.304px;
	top: 4.297px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_86_Class {
	fill: rgba(254,233,84,1);
	stroke: rgba(254,231,70,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_86 {
	overflow: visible;
	position: absolute;
	width: 19.251px;
	height: 28.228px;
	left: 115.701px;
	top: 6.837px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_87_Class {
	fill: rgba(254,233,84,1);
	stroke: rgba(254,231,70,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_87 {
	overflow: visible;
	position: absolute;
	width: 18.534px;
	height: 32.152px;
	left: 136.101px;
	top: 4.361px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_88_Class {
	fill: rgba(254,233,84,1);
	stroke: rgba(254,231,70,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_88 {
	overflow: visible;
	position: absolute;
	width: 14.004px;
	height: 32.241px;
	left: 158.384px;
	top: 4.297px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_89_Class {
	fill: rgba(254,233,84,1);
	stroke: rgba(254,231,70,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_89 {
	overflow: visible;
	position: absolute;
	width: 19.251px;
	height: 28.229px;
	left: 175.781px;
	top: 6.837px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_90_Class {
	fill: rgba(254,233,84,1);
	stroke: rgba(254,231,70,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_90 {
	overflow: visible;
	position: absolute;
	width: 11.067px;
	height: 21.299px;
	left: 199.906px;
	top: 9.779px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_91_Class {
	fill: rgba(254,233,84,1);
	stroke: rgba(254,231,70,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_91 {
	overflow: visible;
	position: absolute;
	width: 17.769px;
	height: 34.019px;
	left: 216.582px;
	top: 3.451px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_92_Class {
	fill: rgba(254,233,84,1);
	stroke: rgba(254,231,70,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_92 {
	overflow: visible;
	position: absolute;
	width: 13.657px;
	height: 32.454px;
	left: 238.664px;
	top: 4.191px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_93_Class {
	fill: rgba(254,233,84,1);
	stroke: rgba(254,231,70,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_93 {
	overflow: visible;
	position: absolute;
	width: 12.923px;
	height: 36.454px;
	left: 259.051px;
	top: 2.18px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_94_Class {
	fill: rgba(254,233,84,1);
	stroke: rgba(254,231,70,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_94 {
	overflow: visible;
	position: absolute;
	width: 16.981px;
	height: 16.678px;
	left: 277.048px;
	top: 12.086px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_95_Class {
	fill: rgba(254,233,84,1);
	stroke: rgba(254,231,70,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_95 {
	overflow: visible;
	position: absolute;
	width: 13.657px;
	height: 32.983px;
	left: 298.744px;
	top: 3.958px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_96_Class {
	fill: rgba(254,233,84,1);
	stroke: rgba(254,231,70,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_96 {
	overflow: visible;
	position: absolute;
	width: 13.458px;
	height: 30.451px;
	left: 318.864px;
	top: 5.207px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_97_Class {
	fill: rgba(254,233,84,1);
	stroke: rgba(254,231,70,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_97 {
	overflow: visible;
	position: absolute;
	width: 15.254px;
	height: 29.829px;
	left: 337.996px;
	top: 5.525px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_98_Class {
	fill: rgba(254,233,84,1);
	stroke: rgba(254,231,70,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_98 {
	overflow: visible;
	position: absolute;
	width: 15.913px;
	height: 30.231px;
	left: 357.689px;
	top: 5.313px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_99_Class {
	fill: rgba(254,233,84,1);
	stroke: rgba(254,231,70,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_99 {
	overflow: visible;
	position: absolute;
	width: 12.523px;
	height: 27.395px;
	left: 379.411px;
	top: 6.71px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_100_Class {
	fill: rgba(254,233,84,1);
	stroke: rgba(254,231,70,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_100 {
	overflow: visible;
	position: absolute;
	width: 15.392px;
	height: 25.701px;
	left: 398.009px;
	top: 7.578px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_101_Class {
	fill: rgba(254,233,84,1);
	stroke: rgba(254,231,70,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_101 {
	overflow: visible;
	position: absolute;
	width: 12.922px;
	height: 36.454px;
	left: 419.264px;
	top: 2.18px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_102_Class {
	fill: rgba(254,233,84,1);
	stroke: rgba(254,231,70,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_102 {
	overflow: visible;
	position: absolute;
	width: 4.004px;
	height: 21.782px;
	left: 443.75px;
	top: 9.568px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_103_Class {
	fill: rgba(254,233,84,1);
	stroke: rgba(254,231,70,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_103 {
	overflow: visible;
	position: absolute;
	width: 19.371px;
	height: 24.501px;
	left: 456.1px;
	top: 8.192px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_104_Class {
	fill: rgba(254,233,84,1);
	stroke: rgba(254,231,70,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_104 {
	overflow: visible;
	position: absolute;
	width: 22.763px;
	height: 26.23px;
	left: 474.43px;
	top: 7.324px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_105_Class {
	fill: rgba(254,233,84,1);
	stroke: rgba(254,231,70,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_105 {
	overflow: visible;
	position: absolute;
	width: 13.137px;
	height: 34.263px;
	left: 499.264px;
	top: 3.324px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_106_Class {
	fill: rgba(254,233,84,1);
	stroke: rgba(254,231,70,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_106 {
	overflow: visible;
	position: absolute;
	width: 21.773px;
	height: 24.135px;
	left: 514.979px;
	top: 8.361px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_107_Class {
	fill: rgba(254,233,84,1);
	stroke: rgba(254,231,70,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_107 {
	overflow: visible;
	position: absolute;
	width: 4.004px;
	height: 17.363px;
	left: 543.883px;
	top: 11.747px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_108_Class {
	fill: rgba(254,233,84,1);
	stroke: rgba(254,231,70,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_108 {
	overflow: visible;
	position: absolute;
	width: 16.328px;
	height: 28.598px;
	left: 557.754px;
	top: 6.16px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_109_Class {
	fill: rgba(254,233,84,1);
	stroke: rgba(254,231,70,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_109 {
	overflow: visible;
	position: absolute;
	width: 11.668px;
	height: 25.088px;
	left: 580.104px;
	top: 7.895px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_110_Class {
	fill: rgba(254,233,84,1);
	stroke: rgba(254,231,70,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_110 {
	overflow: visible;
	position: absolute;
	width: 11.76px;
	height: 40.839px;
	left: 600.092px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_111_Class {
	fill: rgba(254,233,84,1);
	stroke: rgba(254,231,70,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_111 {
	overflow: visible;
	position: absolute;
	width: 22.691px;
	height: 37px;
	left: 614.656px;
	top: 1.948px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_112_Class {
	fill: rgba(254,233,84,1);
	stroke: rgba(254,231,70,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_112 {
	overflow: visible;
	position: absolute;
	width: 20.371px;
	height: 30.972px;
	left: 635.832px;
	top: 4.953px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_113_Class {
	fill: rgba(254,233,84,1);
	stroke: rgba(254,231,70,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_113 {
	overflow: visible;
	position: absolute;
	width: 18.382px;
	height: 32.877px;
	left: 656.86px;
	top: 4px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_114_Class {
	fill: rgba(254,233,84,1);
	stroke: rgba(254,231,70,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_114 {
	overflow: visible;
	position: absolute;
	width: 12.923px;
	height: 20.993px;
	left: 679.61px;
	top: 10.012px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_115_Class {
	fill: rgba(254,233,84,1);
	stroke: rgba(254,231,70,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_115 {
	overflow: visible;
	position: absolute;
	width: 17.593px;
	height: 36.898px;
	left: 697.315px;
	top: 1.99px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_116_Class {
	fill: rgba(254,233,84,1);
	stroke: rgba(254,231,70,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_116 {
	overflow: visible;
	position: absolute;
	width: 18.984px;
	height: 31.077px;
	left: 716.633px;
	top: 4.89px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_117_Class {
	fill: rgba(254,233,84,1);
	stroke: rgba(254,231,70,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_117 {
	overflow: visible;
	position: absolute;
	width: 18.589px;
	height: 27.395px;
	left: 736.86px;
	top: 6.71px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_118_Class {
	fill: rgba(254,233,84,1);
	stroke: rgba(254,231,70,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_118 {
	overflow: visible;
	position: absolute;
	width: 18.589px;
	height: 34.866px;
	left: 756.887px;
	top: 3.006px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_119_Class {
	fill: rgba(254,233,84,1);
	stroke: rgba(254,231,70,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_119 {
	overflow: visible;
	position: absolute;
	width: 11.494px;
	height: 35.218px;
	left: 780.465px;
	top: 2.858px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_120_Class {
	fill: rgba(254,233,84,1);
	stroke: rgba(254,231,70,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_120 {
	overflow: visible;
	position: absolute;
	width: 13.495px;
	height: 30.231px;
	left: 799.502px;
	top: 5.313px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_121_Class {
	fill: rgba(254,233,84,1);
	stroke: rgba(254,231,70,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_121 {
	overflow: visible;
	position: absolute;
	width: 23.189px;
	height: 34.041px;
	left: 814.682px;
	top: 3.429px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_122_Class {
	fill: rgba(254,233,84,1);
	stroke: rgba(254,231,70,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_122 {
	overflow: visible;
	position: absolute;
	width: 12.041px;
	height: 34.041px;
	left: 840.264px;
	top: 3.408px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_123_Class {
	fill: rgba(254,233,84,1);
	stroke: rgba(254,231,70,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_123 {
	overflow: visible;
	position: absolute;
	width: 18.971px;
	height: 32.051px;
	left: 856.832px;
	top: 4.424px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_124_Class {
	fill: rgba(254,233,84,1);
	stroke: rgba(254,231,70,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_124 {
	overflow: visible;
	position: absolute;
	width: 12.814px;
	height: 39.012px;
	left: 879.93px;
	top: 0.995px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_125_Class {
	fill: rgba(254,233,84,1);
	stroke: rgba(254,231,70,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_125 {
	overflow: visible;
	position: absolute;
	width: 20.507px;
	height: 23.637px;
	left: 896.111px;
	top: 8.615px;
	transform: matrix(1,0,0,1,0,0);
}
.Group_146_Class {
	position: absolute;
	width: 707.297px;
	height: 131.97px;
	left: 1667.726px;
	top: 227.345px;
	overflow: visible;
}
.Path_126_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(249,177,27,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_126 {
	overflow: visible;
	position: absolute;
	width: 46.703px;
	height: 40.722px;
	left: 1.689px;
	top: 0.296px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_127_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(249,177,27,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_127 {
	overflow: visible;
	position: absolute;
	width: 40.816px;
	height: 41.342px;
	left: 55.33px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_128_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(249,177,27,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_128 {
	overflow: visible;
	position: absolute;
	width: 8.605px;
	height: 26.435px;
	left: 122.119px;
	top: 7.437px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_129_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(249,177,27,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_129 {
	overflow: visible;
	position: absolute;
	width: 24.23px;
	height: 25.613px;
	left: 152.237px;
	top: 7.865px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_130_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(249,177,27,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_130 {
	overflow: visible;
	position: absolute;
	width: 21.527px;
	height: 19.986px;
	left: 177.367px;
	top: 10.727px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_131_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(249,177,27,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_131 {
	overflow: visible;
	position: absolute;
	width: 24.23px;
	height: 25.613px;
	left: 199.793px;
	top: 7.865px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_132_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(249,177,27,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_132 {
	overflow: visible;
	position: absolute;
	width: 7.86px;
	height: 28.114px;
	left: 224.921px;
	top: 6.614px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_133_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(249,177,27,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_133 {
	overflow: visible;
	position: absolute;
	width: 26.086px;
	height: 38.973px;
	left: 233.651px;
	top: 1.185px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_134_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(249,177,27,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_134 {
	overflow: visible;
	position: absolute;
	width: 21.527px;
	height: 19.986px;
	left: 260.606px;
	top: 10.727px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_135_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(249,177,27,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_135 {
	overflow: visible;
	position: absolute;
	width: 20.139px;
	height: 38.38px;
	left: 283.033px;
	top: 1.448px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_136_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(249,177,27,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_136 {
	overflow: visible;
	position: absolute;
	width: 26.086px;
	height: 38.973px;
	left: 304.071px;
	top: 1.185px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_137_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(249,177,27,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_137 {
	overflow: visible;
	position: absolute;
	width: 7.859px;
	height: 28.114px;
	left: 331.026px;
	top: 6.614px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_138_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(249,177,27,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_138 {
	overflow: visible;
	position: absolute;
	width: 22.914px;
	height: 37.173px;
	left: 339.755px;
	top: 2.106px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_139_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(249,177,27,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_139 {
	overflow: visible;
	position: absolute;
	width: 15.062px;
	height: 32.852px;
	left: 363.533px;
	top: 4.245px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_140_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(249,177,27,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_140 {
	overflow: visible;
	position: absolute;
	width: 38.949px;
	height: 33.185px;
	left: 386.946px;
	top: 4.08px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_141_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(249,177,27,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_141 {
	overflow: visible;
	position: absolute;
	width: 12.762px;
	height: 29.035px;
	left: 434.282px;
	top: 6.154px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_142_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(249,177,27,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_142 {
	overflow: visible;
	position: absolute;
	width: 7.859px;
	height: 28.114px;
	left: 469.419px;
	top: 6.614px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_143_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(249,177,27,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_143 {
	overflow: visible;
	position: absolute;
	width: 21.527px;
	height: 19.986px;
	left: 478.148px;
	top: 10.727px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_144_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(249,177,27,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_144 {
	overflow: visible;
	position: absolute;
	width: 10.497px;
	height: 30.45px;
	left: 500.574px;
	top: 5.43px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_145_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(249,177,27,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_145 {
	overflow: visible;
	position: absolute;
	width: 21.528px;
	height: 19.986px;
	left: 511.97px;
	top: 10.727px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_146_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(249,177,27,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_146 {
	overflow: visible;
	position: absolute;
	width: 21.527px;
	height: 19.986px;
	left: 534.396px;
	top: 10.727px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_147_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(249,177,27,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_147 {
	overflow: visible;
	position: absolute;
	width: 25.732px;
	height: 13.392px;
	left: 556.823px;
	top: 14.018px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_148_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(249,177,27,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_148 {
	overflow: visible;
	position: absolute;
	width: 7.859px;
	height: 28.114px;
	left: 583.413px;
	top: 6.614px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_149_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(249,177,27,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_149 {
	overflow: visible;
	position: absolute;
	width: 21.579px;
	height: 34.267px;
	left: 592.142px;
	top: 3.521px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_150_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(249,177,27,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_150 {
	overflow: visible;
	position: absolute;
	width: 10.497px;
	height: 30.45px;
	left: 614.568px;
	top: 5.43px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_151_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(249,177,27,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_151 {
	overflow: visible;
	position: absolute;
	width: 21.528px;
	height: 19.986px;
	left: 625.963px;
	top: 10.727px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_152_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(249,177,27,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_152 {
	overflow: visible;
	position: absolute;
	width: 21.528px;
	height: 19.986px;
	left: 648.39px;
	top: 10.727px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_153_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(249,177,27,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_153 {
	overflow: visible;
	position: absolute;
	width: 50.044px;
	height: 30.549px;
	left: 0px;
	top: 86.264px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_154_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(249,177,27,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_154 {
	overflow: visible;
	position: absolute;
	width: 44.941px;
	height: 42.822px;
	left: 53.268px;
	top: 81.296px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_155_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(249,177,27,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_155 {
	overflow: visible;
	position: absolute;
	width: 8.605px;
	height: 26.435px;
	left: 122.119px;
	top: 88.305px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_156_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(249,177,27,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_156 {
	overflow: visible;
	position: absolute;
	width: 39.802px;
	height: 43.858px;
	left: 157.237px;
	top: 79.618px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_157_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(249,177,27,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_157 {
	overflow: visible;
	position: absolute;
	width: 28.006px;
	height: 38.446px;
	left: 213.818px;
	top: 82.316px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_158_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(249,177,27,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_158 {
	overflow: visible;
	position: absolute;
	width: 28.243px;
	height: 62.929px;
	left: 264.417px;
	top: 70.042px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_159_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(249,177,27,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_159 {
	overflow: visible;
	position: absolute;
	width: 55.909px;
	height: 56.944px;
	left: 301.293px;
	top: 73.07px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_160_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(249,177,27,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_160 {
	overflow: visible;
	position: absolute;
	width: 50.044px;
	height: 47.594px;
	left: 354.9px;
	top: 77.742px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_161_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(249,177,27,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_161 {
	overflow: visible;
	position: absolute;
	width: 45.007px;
	height: 50.556px;
	left: 408.134px;
	top: 76.261px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_162_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(249,177,27,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_162 {
	overflow: visible;
	position: absolute;
	width: 31.184px;
	height: 31.922px;
	left: 465.729px;
	top: 85.606px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_163_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(249,177,27,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_163 {
	overflow: visible;
	position: absolute;
	width: 43.007px;
	height: 56.808px;
	left: 510.548px;
	top: 73.135px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_164_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(249,177,27,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_164 {
	overflow: visible;
	position: absolute;
	width: 34.226px;
	height: 54.646px;
	left: 565.609px;
	top: 74.188px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_165_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(249,177,27,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_165 {
	overflow: visible;
	position: absolute;
	width: 49.571px;
	height: 52.365px;
	left: 608.636px;
	top: 75.373px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_166_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(249,177,27,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_166 {
	overflow: visible;
	position: absolute;
	width: 48.372px;
	height: 45.951px;
	left: 659.944px;
	top: 78.565px;
	transform: matrix(1,0,0,1,0,0);
}
.Group_73_Class {
	position: absolute;
	width: 996.826px;
	height: 194.456px;
	left: 0.174px;
	top: 0px;
	overflow: visible;
}
._Class {
	left: 164.826px;
	top: 62px;
	position: absolute;
	overflow: visible;
	width: 833px;
	white-space: nowrap;
	text-align: left;
	font-family: Microsoft Sans Serif;
	font-style: normal;
	font-weight: normal;
	font-size: 64px;
	color: rgba(112,112,112,1);
}
.Group_74_Class {
	position: absolute;
	width: 172.826px;
	height: 194.456px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Group_63_Class {
	position: absolute;
	width: 172.826px;
	height: 194.456px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.btn__Class {
	position: absolute;
	width: 165px;
	height: 78px;
	left: 1013px;
	top: 136px;
	overflow: visible;
}
._e_Class {
	left: 33px;
	top: 4px;
	position: absolute;
	overflow: visible;
	width: 101px;
	white-space: nowrap;
	text-align: left;
	font-family: Microsoft Sans Serif;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	color: rgba(112,112,112,1);
}
.Rectangle_47_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_47 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.302));
	position: absolute;
	overflow: visible;
	width: 183px;
	height: 96px;
	left: 0px;
	top: 0px;
}
._fa_Class {
	left: 35px;
	top: 9px;
	position: absolute;
	overflow: visible;
	width: 91px;
	white-space: nowrap;
	text-align: left;
	font-family: Microsoft Sans Serif;
	font-style: normal;
	font-weight: normal;
	font-size: 45px;
	color: rgba(112,112,112,1);
}
.btn__e_Class {
	position: absolute;
	width: 319px;
	height: 78px;
	left: 2093px;
	top: 136px;
	overflow: visible;
}
.Group_162_Class {
	position: absolute;
	width: 319px;
	height: 78px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Group_159_Class {
	position: absolute;
	width: 319px;
	height: 78px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Group_157_Class {
	position: absolute;
	width: 319px;
	height: 78px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
._fb_Class {
	left: 101px;
	top: 4px;
	position: absolute;
	overflow: visible;
	width: 101px;
	white-space: nowrap;
	text-align: left;
	font-family: Microsoft Sans Serif;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	color: rgba(112,112,112,1);
}
.Path_169_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_169 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.302));
	overflow: visible;
	position: absolute;
	width: 337px;
	height: 96px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
._fc_Class {
	left: 24px;
	top: 8px;
	position: absolute;
	overflow: visible;
	width: 226px;
	white-space: nowrap;
	text-align: left;
	font-family: Microsoft Sans Serif;
	font-style: normal;
	font-weight: normal;
	font-size: 45px;
	color: rgba(112,112,112,1);
}
.Ellipse_1_Class {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_1 {
	position: absolute;
	overflow: visible;
	width: 50px;
	height: 50px;
	left: 255px;
	top: 14px;
}
.Group_158_Class {
	position: absolute;
	width: 20px;
	height: 10px;
	left: 270.5px;
	top: 34.5px;
	overflow: visible;
}
.Line_1_Class {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_1 {
	overflow: visible;
	position: absolute;
	width: 12.829px;
	height: 12.828px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_2_Class {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_2 {
	overflow: visible;
	position: absolute;
	width: 12.829px;
	height: 12.828px;
	left: 10px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.btn__fg_Class {
	position: absolute;
	width: 372px;
	height: 78px;
	left: 1178px;
	top: 136px;
	overflow: visible;
}
._fh_Class {
	left: 125px;
	top: 4px;
	position: absolute;
	overflow: visible;
	width: 101px;
	white-space: nowrap;
	text-align: left;
	font-family: Microsoft Sans Serif;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	color: rgba(112,112,112,1);
}
.Rectangle_47_fi_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_47_fi {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.302));
	position: absolute;
	overflow: visible;
	width: 390px;
	height: 96px;
	left: 0px;
	top: 0px;
}
._fj_Class {
	left: 29px;
	top: 8px;
	position: absolute;
	overflow: visible;
	width: 316px;
	white-space: nowrap;
	text-align: left;
	font-family: Microsoft Sans Serif;
	font-style: normal;
	font-weight: normal;
	font-size: 45px;
	color: rgba(112,112,112,1);
}
.btn__fk_Class {
	position: absolute;
	width: 378px;
	height: 78px;
	left: 1550px;
	top: 136px;
	overflow: visible;
}
._fl_Class {
	left: 128px;
	top: 4px;
	position: absolute;
	overflow: visible;
	width: 101px;
	white-space: nowrap;
	text-align: left;
	font-family: Microsoft Sans Serif;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	color: rgba(112,112,112,1);
}
.Rectangle_47_fm_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_47_fm {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.302));
	position: absolute;
	overflow: visible;
	width: 396px;
	height: 96px;
	left: 0px;
	top: 0px;
}
._fn_Class {
	left: 32px;
	top: 8px;
	position: absolute;
	overflow: visible;
	width: 316px;
	white-space: nowrap;
	text-align: left;
	font-family: Microsoft Sans Serif;
	font-style: normal;
	font-weight: normal;
	font-size: 45px;
	color: rgba(112,112,112,1);
}
.btn__fo_Class {
	position: absolute;
	width: 165px;
	height: 78px;
	left: 1928px;
	top: 136px;
	overflow: visible;
}
._fp_Class {
	left: 33.091px;
	top: 4px;
	position: absolute;
	overflow: visible;
	width: 101px;
	white-space: nowrap;
	text-align: left;
	font-family: Microsoft Sans Serif;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	color: rgba(112,112,112,1);
}
.Rectangle_47_fq_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_47_fq {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.302));
	position: absolute;
	overflow: visible;
	width: 183px;
	height: 96px;
	left: 0px;
	top: 0px;
}
._fr_Class {
	left: 38.462px;
	top: 8px;
	position: absolute;
	overflow: visible;
	width: 91px;
	white-space: nowrap;
	text-align: left;
	font-family: Microsoft Sans Serif;
	font-style: normal;
	font-weight: normal;
	font-size: 45px;
	color: rgba(112,112,112,1);
}